.hero {
  width: 95%;
  margin: auto;
  padding: var(--gap-md);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-column.buttons {
  gap: var(--gap-sm);
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  margin-top: auto;
}

.flex-row-item img {
  background-size: cover;
  background-position: center;
  width: calc(100% + (24px * 2));
  box-shadow: none;
  height: 10rem;
  object-fit: cover;
  margin: -24px;
  margin-bottom: 0;
  border-top-right-radius: var(--radius-lg);
  border-top-left-radius: var(--radius-lg);
}

.flex-row-item:not(.normal-item) {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.flex-row-item {
  flex: 1 0 325px;
  box-sizing: border-box;
  margin: 1rem 0.5em;
}

.router-link-active,
.router-link-active > *:not(.username) {
  color: var(--color-red) !important;
}

.link__button {
  text-decoration: none;
}

.grid-display.flow {
  display: flex;
  flex-direction: column;

  .grid-display__item {
    .value {
      font-size: 1.5rem;
    }
  }
}
.grid-display {
  display: grid;
  grid-gap: var(--gap-md);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

  .grid-display__item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-bg);
    border-radius: var(--radius-md);
    padding: var(--gap-lg);
    gap: var(--gap-md);

    .label {
      color: var(--color-base);
      font-weight: bold;
      font-size: 1rem;
    }

    .value {
      color: var(--color-contrast);
      font-weight: bold;
      font-size: 2rem;
    }

    .goto-link {
      margin-top: auto;
    }

    .smaller-value {
      font-size: 0.85rem;
      font-style: italic;
      color: var(--color-base);
    }
  }
}

.grid-display.width-12 {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.grid-display.width-16 {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-bg) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-raised-bg);
  border-radius: 9px;
  border: 0px none transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

a {
  color: var(--color-brand);
}

// Flex inputs
.flex-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-lg);

  .right {
    margin-top: auto;
    margin-bottom: auto;
  }

  .left {
    margin-right: auto;
  }
}
